@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.flex {
	display: flex;
}
.row {
	flex-flow: row nowrap
}
.column {
	flex-flow: column nowrap
}
.section {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.dropdown {
	width: 95%;
}
.label {
	font-size: small
}

input,
select,
button {
	margin-bottom: .5rem;
	padding: .5rem;
}

button {
	margin-top: .5rem;
	cursor: pointer;
}
